<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-2"> <a routerLink="/login"
                                class="logo d-flex align-items-center w-auto"> <img src="assets/img/logoitc.png" alt=""
                                    width="30">
                            </a></div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-1 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
                                    <!-- <p class="text-center small">Acces to our Dashboard</p> -->
                                </div>
                                <form class="row g-3" [formGroup]="resetPasswordForm">
                                    <div class="col-12">
                                        <div class="input-field"
                                            [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')">
                                            <input formControlName="password" class="form-control" type="password"
                                                placeholder="New Password">
                                        </div>

                                        <small
                                            *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')"
                                            class="text-danger">* New Password is required*</small>

                                    </div>
                                    <div class="col-12">
                                        <div class="input-field"
                                            [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')">
                                            <input formControlName="confirmPassword"  type="password" class="form-control"
                                                placeholder="Confirm Password">
                                        </div>
                                        <small
                                            *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')"
                                            class="text-danger">*ConfirmPassword is required*</small>
                                        <small
                                            *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword')"
                                            class="text-danger">*Password is Dosn't Match*</small>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn w-100" style="background-color: #003566; color: aliceblue;"
                                            (click)="reset()" type="submit">Reset</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0 text-center"><a id="admin" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal1" class="font-weight-bold">Contact
                                                Admin</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- for contact admin -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex justify-content-center py-2 my-3"> <a routerLink="/login"
                    class="logo d-flex align-items-center w-auto"> <img src="assets/img/logoitc.png" alt="" width="30">
                </a></div>
            <div class="modal-header">
                <p style="margin-left: 120px;">Please Wisit the <a
                        href="https://www.itcportal.com/about-itc/index.aspx">ITC</a> Website </p><br>
            </div>

            <div class="modal-body">
                <h6 class="">Contact the Admin With Phone Number or Email </h6>
                <p class="small">Phone Number: +19 XXXXX-98787</p>
                <p class="small">Email: XYZ@gmail.com</p>
                <p class="small">Website: <a href="">ITCWebsite.com</a></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>